body {
  margin:0;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background:url(https://1.bp.blogspot.com/-q4Fw-qiej1A/Xx8WX11_gGI/AAAAAAAAHWI/7e0zJOcyuKsM61bdtm-OJNl97UPDHW4NwCLcBGAsYHQ/w1200-h630-p-k-no-nu/DESKTOP-WALLPAPER-4K-RICK-AND-MORTY.png) repeat;
  background-attachment:fixed;
  background-size:cover;
  color:rgba(0,255,255,.747);
}
code {
  font-family: source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace;
}
